* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color:#8A2BE2
;
}
.container {
  margin: 40px auto 20px;
  width: 250px;
}
.clock {
  border: 5px solid #FFF;
  border-radius: 10%;
  display: block;
  height: 250px;
  width: 250px;
  position: relative;
}
.clock:after{
  position:absolute;
  top:50%;
  left:50%;
  width:15px;
  height:15px;
  margin:-6px 0 0 -6px;
  background:#fff;
  border-radius:6px;
  content:"";
  display:block;
}
.clock .hour {
  background: #fff;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  margin: -60px -2px 0;
  padding: 60px 2px 0;
}
.clock .minute , .clock .second {
  background: #fff;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  margin: -105px -2px 0;
  padding: 105px 2px 0;
}
